<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK</title>
  <link rel="icon" href="/image/lib1.jpeg">
  <!-- Including Bootstrap -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   <!--font awesome-->
  <link rel="stylesheet" href="/css/books.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="./libcss/libr.css"> -->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light "style="background-color:blue">
    <a class="navbar-brand" href="#">
      <img src="/image/lib1.jpeg" width="50px" height="40px" alt="">
    </a>
  <div class="collapse navbar-collapse" id="navbar1">
    <a class="navbar-brand" href="<%=nav[0].link%>"><i class="fa fa-home" aria-hidden="true"></i> <%=nav[0].name%></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%for(i=1;i<nav.length;i++){%>  
          <li class="nav-item">
               <a class="nav-link" href="<%=nav[i].link%>"><i class="<%=nav[i].disicon%>" aria-hidden="true"></i></span><%=nav[i].name%></a>      
          </li>
          <%}%>
      </li>      
    </ul>    
  </div>
</nav>
      <nav class="navbar navbar-light  justify-content-between" style="background-color:rgba(83, 7, 30, 0.185)">
        <strong><%=title%></strong>

        <form class="form-inline">            
          <input class="form-control mr-sm-2" type="search" placeholder="Search Book/Author" aria-label="Search" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fa fa-search"></i> </button>         
        </form>
      </nav>    

  <div class="container  " id="containerDisp">    
    <div class="row"id="booksRow">
      <!-- <div class="col-md-4"></div> -->
        <div class="col-md-4">
        
         <img class="img-thumbnail "style=" display:block;" src="/image/<%=book.image%>" alt="">
      </div>
      
      <div class="col-md-8 " id="booksCol">
        <h3><%=book.title%></h3>
        <h4><small style="font-family:cursive;font-weight: bolder;" ><%=book.author%>  </small></h4>
              <h5><small style="font-family:cursive;font-weight: bolder;" ><%=book.genre%>  </small></h5>
              <h6 style="color:rgb(0, 110, 255)"><%=book.desc%></h6>
              <a class="btn btn-primary" href="/book/<%=book._id%>/update">update</a>
              <a class="btn btn-danger" href="/book/<%=book._id%>/delete">Delete</a>
              
      </div>
    </div>
    </div>
</body>
<footer class=" fixed-bottom" >
  <p style="text-align:center"> 
      Email:&nbsp librarymgmt@gmail.com<br>
      mobile:&nbsp 0123456789
  </p>
</footer>

</html> 