<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOK</title>
  <link rel="icon" href="/image/lib1.jpeg">
  <!-- Including Bootstrap -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
   <!--font awesome-->
  <link rel="stylesheet" href="/css/addbook.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="./libcss/libr.css"> -->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light "style="background-color:blue">
    <a class="navbar-brand" href="#">
      <img src="/image/lib1.jpeg" width="50px" height="40px" alt="">
    </a>
  <div class="collapse navbar-collapse" id="navbar1">
    <a class="navbar-brand" href="<%=nav[0].link%>"><i class="fa fa-home" aria-hidden="true"></i> <%=nav[0].name%></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%for(i=1;i<nav.length;i++){%>  
          <li class="nav-item">
               <a class="nav-link" href="<%=nav[i].link%>"><i class="<%=nav[i].disicon%>" aria-hidden="true"></i></span><%=nav[i].name%></a>      
          </li>
          <%}%>
      </li>      
    </ul>    
  </div>
</nav>
      <nav class="navbar navbar-light  justify-content-between" style="background-color:rgba(83, 7, 30, 0.185)">
        <strong><%=title%></strong>

        <form class="form-inline">            
          <input class="form-control mr-sm-2" type="search" placeholder="Search Book/Author" aria-label="Search" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fa fa-search"></i> </button>         
        </form>
      </nav>    

      <div class="addBook">               
        <form action="/book/<%=book._id%>/update/ok"method="POST">
          <div id="elementDiv">
   <h2>&nbsp&nbsp Update Book</h2>
   <b>Title:</b>&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="title"value="<%=book.title%>"> <br><br>
   <b> Author:</b>&nbsp<input type="text" name="author"value="<%=book.author%>"><br><br>
   <b>Genre:</b>&nbsp&nbsp&nbsp<input type="text" name="genre"value="<%=book.genre%>"><br><br>
   <b>Image:</b>&nbsp&nbsp&nbsp<input type="file" id="image"name="image"value=""><br><br>
  <%var imagevar=book.image%>
  <input type="hidden" type="hidden" name="imageid" value="<%=imagevar%>"/>
   <button type="submit"id="addbtn">Update Book</button>
          </div>
        
         </form>
               </div> 
</body>
<footer class=" fixed-bottom" >
  <p style="text-align:center"> 
      Email:&nbsp librarymgmt@gmail.com<br>
      mobile:&nbsp 0123456789
  </p>
</footer>

</html> 